<!DOCTYPE html>
<html class="no-js" lang="en">
{% include "comun/estilos.html" %}
<body>
	<!-- Aca se incluiran las plantillas por separado para facilitar su edicion -->
        <div class="main-wrapper">
            <div class="app header-fixed footer-fixed sidebar-fixed" id="app">
			{% include "comun/header.html" %}
			{% include "comun/sidebar.html" %}
			{% block content %}
			{% endblock %}
			{% include "comun/footer.html" %}
			{% include "comun/modal.html" %}
            </div>
        </div> <!-- Fin de la pantalla -->


	<!-- Controla lo de los colores aparentemente-->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div> <!-- Fin de la cosa esta-->
        {% include "comun/scripts.html" %}
</body>
</html>