{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Conexxion Wifi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon/favicon.ico' %}">

        <link rel="stylesheet" href='{% static "css/vendor.css" %}'>

        <link rel="stylesheet" id="theme-style" href="{% static 'css/app.css' %}">

        <link rel="stylesheet" href="{% static 'css/Ionicons/css/ionicons.css' %}">

        <link rel="stylesheet" href="{% static 'css/datatables.net-bs/css/dataTables.bootstrap4.css' %}">

        <link rel="stylesheet" href="{% static 'css/alertify-css/alertify.css' %}">

        <link rel="stylesheet" href="{% static 'css/gotup.css' %}">

        <style>
            .error-personal
            {
                color: #fff;
                background: rgba(250, 0, 0, 0,95);
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
            }
        </style>
        
    </head>
