 <footer class="footer">
    
   
                    <div class="footer-block author">
                        <ul>
                            <li> Creado por
                                <a href="https://github.com/DonJuan222" target="_blank">Juan Diego Polindara-2022-2023</a>
                            </li>
                            <!--
                            <li>
                                <a href="#">Mantente en contacto</a> 
                            </li>
                            -->
                        </ul>
                    </div>
                </footer>