{% extends "comun/base.html" %}

{% block content %}

<article class="content responsive-tables-page">
    <div class="title-block">
        <h1 class="title"> Filtrar Clientes por Ap </h1>
        <br>
        <a href="{% url 'reporte_ap' %}?ap={{ request.GET.ap  }}" class="btn btn-primary">Descargar reporte en Excel</a>

    </div>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                {% for message in messages %}
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <em class="fa fa-check"></em>
                            <p class="title">{{ message }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {%endif%}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <form method="get">
                                <label for="ap">Filtrar por AP:</label>
                                <select name="ap" id="ap">
                                    <option value="">Todos los APs</option>
                                    {% for ap in aps %}
                                        <option value="{{ ap.nombreAp }}">{{ ap.nombreAp }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit">Filtrar</button>
                            </form>
                            <section class="example">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                              <th>Cédula</th>
                                              <th>Ip</th>
                                              <th>Nombre</th>
                                              <th>Apellido</th>
                                              <th>Teléfono</th>
                                              <th>Dirección</th>
                                              <th>AP</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for cliente in clientes %}
                                              <tr>
                                                <td>{{ cliente.cedula }}</td>
                                                <td>{{ cliente.ip }}</td>
                                                <td>{{ cliente.nombre }}</td>
                                                <td>{{ cliente.apellido }}</td>
                                                <td>{{ cliente.telefono_uno }}</td>
                                                <td>{{ cliente.direccion }}</td>
                                                <td>{{ cliente.ap }}</td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</article>
<br>
  
{% endblock %}
