{% extends "comun/base.html" %}

{% block content %}
<article class="content forms-page">
    <div class="title-block">
        <h3 class="title">Emitir factura</h3>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-md-12">
                {% if messages %}
                {% for message in messages %}
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <em class="fa fa-check"></em>
                            <p class="title">{{ message }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="card card-block sameheight-item">
                    <h1>Crear Factura</h1>
                    <form method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</article>
<script>
    document.getElementById('id_tipo_pago').addEventListener('change', function() {
        var tipoPago = this.value;
        var fechaPagoField = document.getElementById('id_fecha_pago');
        var fechaVencimientoField = document.getElementById('id_fecha_vencimiento');
        if (tipoPago === 'Mensualidad') {
            fechaPagoField.style.display = 'block';
            fechaVencimientoField.style.display = 'block';
        } else {
            fechaPagoField.style.display = 'none';
            fechaVencimientoField.style.display = 'none';
        }
    });
</script>

{% endblock %}
