{% extends "comun/base.html" %}

{% block content %}
<article class="content forms-page">
	    <div class="title-block">
          <h3 class="title">Emitir factura</h3>
        </div>
<section class="section">
    <div class="row sameheight-container">
	<div class="col-md-12">
		          {% if messages %}
                  {% for message in messages %}
                  	         <div class="card card-primary">
            <div class="card-header"> 
                <div class="header-block">
                    <em class="fa fa-check"></em>
                        <p class="title">{{ message }}</p>
                    </div>
                </div>
         </div>
         {% endfor %}
        {%endif%}       

		<div class="card card-block sameheight-item">
			<form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" id="id_tipo_pago" value="{{ form.instance.tipo_pago }}">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Crear</button>
                </div>
              </form>
              
		</div>
	</div>
	</div>
</section>
</article>
<script>
    // Obtener el valor del tipo de pago seleccionado
    var tipo_pago = document.getElementById('id_tipo_pago').value;
  
    // Obtener los campos de n_recibo y fecha de vencimiento
    var n_recibo = document.getElementById('id_n_recibo').parentNode;
    var fecha_vencimiento = document.getElementById('id_fecha_vencimiento').parentNode;
  
    // Si el tipo de pago no es #Recibo, ocultar los campos de n_recibo y fecha de vencimiento
    if (tipo_pago !== '#Recibo') {
      n_recibo.style.display = 'none';
      fecha_vencimiento.style.display = 'none';
    }
  
    // Agregar un evento de cambio al campo de tipo de pago
    var tipo_pago_input = document.getElementById('id_tipo_pago');
    tipo_pago_input.addEventListener('change', function(event) {
      // Obtener el nuevo valor del tipo de pago
      var new_tipo_pago = event.target.value;
  
      // Si el nuevo tipo de pago es mensualidad, mostrar los campos de fecha de pago y fecha de vencimiento
      if (new_tipo_pago === '#Recibo') {
        n_recibo.style.display = '';
        fecha_vencimiento.style.display = '';
      } else { // de lo contrario, ocultarlos
        n_recibo.style.display = 'none';
        fecha_vencimiento.style.display = 'none';
      }
    });
  </script>
  
{% endblock %}